# Python - Aula 1 - Introdução

## Básico

**Imprimindo no console**

In [1]:
print("Olá turma!")

Olá turma!

**Comentários**

In [2]:
# print("Olá turma!")

In [3]:
print("Olá turma!") # imprimo Olá turma!

Olá turma!

**Variáveis**

In [4]:
aula = 1

In [5]:
print(aula)

1

## Tipos de dados

### Números

**Inteiros**

In [6]:
type(2)

int

**Reais** (ponto flutuante)

In [7]:
type(2.2)

float

Existe suporte nativo a outros tipos numéricos, ex.: números complexos.

### Strings

Representam sequências de caracteres.

In [8]:
'olá turma!' # aspas simples

'olá turma!'

In [9]:
"olá turma!" # aspas duplas

'olá turma!'

Diferente de outras linguegens, em Python não há nenhuma diferença entre a utilização de aspas duplas ou simples.

Aspas triplas podem ser utilizadas para blocos com múltiplas linhas. 
As quebras de linha são incluídas automaticamente e podem ser evitadas utilizando uma **\** no final da linha.

In [10]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

### Listas

Em Python temos diversos tipos de dados compostos, utilizados para agrupar valores. Dentre eles o mais versátil é `list`, que pode ser escrita como uma lista de valores separados por vírgulas, entre colchetes.

In [11]:
quadrados = [1, 4, 9, 16, 25]
print(quadrados)
type(quadrados)

[1, 4, 9, 16, 25]

list

Listas podem conter itens de diferentes tipos mas usualmente são todos do mesmo tipo.

## Operadores

### Números

Operadores matemáticos


- soma
- subtração
- multiplicação
- divisão (clássica, retorna um float)
- divisão (arredonda ignorando a parcela fracionária)
- resto (de uma divisão)
- potenciação

**Exemplos:**

In [12]:
1 + 2 + 3 # soma

6

In [13]:
5 - 3 # subtração

2

In [14]:
2 * 2 # multiplicação

4

In [15]:
10 / 3 # divisão

3.3333333333333335

In [16]:
10 // 3 # divisão

3

In [17]:
10 % 3 # resto

1

In [18]:
2 ** 3 # potenciação

8

### Strings

Manipulação

- Indexação
- Imutabilidade
- Escaping
- Caracteres especiais
- Literais
- Concatenação
- Slicing

**Exemplos:**

In [19]:
cidade = "São Paulo"

In [20]:
cidade[0] # index inicial igual a zero

'S'

In [21]:
#cidade[0] = "R" # Python strings não podem ser alteradas.

In [22]:
'The book isn\'t on the table.' # escape aspas simples

"The book isn't on the table."

In [23]:
print('Linha 1\nLinha 2') # necessário utilizar expicitamente a função print()

Linha 1
Linha 2

In [24]:
'São' ' ' 'Paulo' # literais próximas são concatenadas automaticamente

'São Paulo'

In [25]:
'São' + ' ' + 'Paulo' # mesmo efeito usando operador +

'São Paulo'

In [26]:
#cidade ' (SP)' # não funciona entre variáveis e literais

In [27]:
cidade + ' (SP)' # necessário utilizar o operador +

'São Paulo (SP)'

In [28]:
cidade[:3] # cidade[0:3]

'São'

In [29]:
cidade[-5:]

'Paulo'

In [30]:
cidade[:]

'São Paulo'

### Listas

Manipulação

- Indexação
- Slicing
- Inclusão
- Remoção
- Substituição
- Nesting

Assim como strings, listas podem ser indexadas e fatiadas (slicing).
Porém, listas podem ser alteradas, não são imutáveis.

**Exemplos:**

In [31]:
quadrados = [1, 4, 9, 16, 25]
print(quadrados)

[1, 4, 9, 16, 25]

In [32]:
quadrados[4]

25

In [33]:
quadrados = quadrados + [36, 49, 64, 81, 99]
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 99]

In [34]:
quadrados[9] = 100 # substituindo um valor incorreto

In [35]:
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
quadrados.append(121) # adicionando um elemento no final da lista
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [37]:
quadrados[-1:] = []
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]

print(x)
print(x[0])
print(x[0][0])

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
a

In [39]:
len(quadrados) # length

10

## Primeiros passos em programação

Da seção anterior, temos um conjunto com os quadrados dos números 1 a 10. Como criar um conjunto com os cubos deste mesmo intervalo?

In [40]:
quadrados = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
cubos = []

for i in range(1, 11, 1):
    cubos.append(i ** 3)

print(cubos)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]